.header{
  display: flex;
  justify-content: space-between;
}


.title{
  color: #00237C;
  margin: 0;
  padding: 0px;
  
}

.list-oya{
  color: #00237C;
  text-align: right;
  font-weight:bold;
  display: flex;
}

.list{
  margin-left: 20px;
  list-style: none;
}
  
/*先生のコメント
画面幅が1000~1500pxの場合、firstview.jpegが画面の右側にはみ出してしまっているのが確認できます
現状のleftによる位置調整では画面の左端が基準になっており画面サイズに合わせて画像の位置を調整することができないため、別の方法に変えることをお勧めします！
↓修正前
.first-img{
  display: block;
  width: 55%;
  position: relative;
  top: 200px;
  left: 800px;
}*/

/*↓修正後*/
.first-oya{
  position:relative
}

.first-img{
  position: absolute;
  top: 100px;
  left: 40%;
  width: 55%;
}

.first-color1{
  background-color:white;
  width: 100%;
  height: 400px;
}

.first-moji{
  font-size: 60px;
  line-height: 50px;
}

.first-color2{
  background-color: #00237C;
  width: 850px;
  height: 150px;
}